html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 1280px;
    margin: auto;
    padding: 2rem;
    font-weight: normal;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
    }
}